.pm-severity {
    padding: 8px;
    border-radius: 4px;
    color: #ffffff;
}

.pm-severity.pm-severity--critical {
    background-color: #B64343;
}

.pm-severity.pm-severity--high {
    background-color: #8E8227;
}

.pm-severity.pm-severity--medium {
    background-color: #393B5C;
}

.pm-severity.pm-severity--low {
    background-color: #3F3D3C;
}