.pm-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
}

.pm-category {
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    min-width: 30px;
    overflow: hidden;
    padding: 4px 8px;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
